body{
    background: url(./assets/Akanstool.jpeg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

h1
h3{
    color: black;
}

.container{
    color: wheat;
    font-size: 20gitpx;

}

.Africa{
    background-color: rgba(0, 0, 0, 0.5);
    color: wheat;
}
.Africa img{
    margin-top: 15px;
    border-radius: 50%;
}
.akan{
    background-color: rgba(0, 0, 0, 0.5);
    color: wheat;  
}
.akan img{
    margin-top: 15px;
    border-radius: 50%;
}
.naming{
    background-color: rgba(0, 0, 0, 0.5);
    color: wheat;
}
.naming img{
    margin-top: 15px;
    border-radius: 50%;
}
.button{
    width: 50px;
    height: 20px;
}

.container-form{
    max-width: 700px;
    margin: 0 auto;
    padding: 51px;
    background-color: rgba(0, 0, 0, 0.5);
    color: wheat;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
}