/* body{
    background: url(./assets/akangold.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    opacity: 0.8;
} */
body{
    background: url(./assets/Akanstool.jpeg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    /* background-color: #303952; */
  
}
.container{
    color:#273c75;
}
.button{
    width: 50px;
    height: 20px;
}
.container-form{
    max-width: 700px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
}
